.button {
    color: #a78456;
    background-color: #eecb9a;
    min-width: 120px;
    min-height: 40px;
    cursor: pointer;
}
.timer {
    font-size: 22px;
    font-weight: 600;
}
.actionContainer {
    display: flex;
    gap: 30px;
    margin: 20px;
}
